@import '../../assets/css/global';

.clear:after{
	content: "";
	display: table;
}
.clear:after{
	clear:both;
}
.filter{
	margin-top: 10px;
}
.filtrate-content{
	padding:25px;
	.filtrate-header{
		padding: 20px 0;
	}
	.filtrate-header-data{
		float: left;
		font-size: 20px;
		color: #333;
	}
	p{
		float: left;
		width: 30%;
		height: 15px;
		border-bottom: 1px solid #ccc;
		margin: 0 15px;
	}
	.filtrate-header i{
		display: inline-block;
		text-align: center;
		color: #fff;
		width: 20px;
		font-style: normal;
		height: 20px;
		font-size: 16px;
		border-radius: 10px;
		background-color: #2186ED;
		margin-right: 20px;	
	}
	.filtrate-header-result{
		float: left;
		font-size: 20px;
		color: #999;
		i{
			background-color: #ccc;
		}
	}
	.left{
		float: left;
	}
	.right{
		float: right;
	}
	.filtrate-title{
		border-bottom:1px solid $color-border;
		padding-bottom: 20px;
		h1{
			width: 200px;
		}
		span{
			font-size: 16px;
			color: $color-border;
		}
	}
	.project-filtrate{
		border: 1px solid $color-border;
		padding: 0 20px;
		min-width: 730px;
		margin: 20px;
	}
	.block{
		padding-top: 20px;
	}
	.demonstration{
		padding-bottom: 10px;
		color: $color-text-dark;
	}
	.filtrate-result-project{
		width:80%;
	}
	.filtrate-result-input div{
		margin-left: 20px;
	}
	.filtrate-result-input .el-input{
		width:100px !important;
	}
	.filtrate-result-input-scope .el-input{
		width:110px !important;
	}
	.filtrate-result-relation{
		width:15%;
		padding-right: 40px;
		min-width: 140px;
	}
	.add-button{
		margin-top: 50px;
		span{
			color: $color-primary;
		}
		button{
			border: 1px solid $color-primary;
		}
	}
	.add-button-plus{
		font-size: 20px;
	}
	.filtrate-result-button{
		clear: both;
		margin:30px 0;
		text-align: center;
		button {
			padding: 11px 54px;
			margin-right: 30px;
		}
	}
	// table表格
	.filtrate-table{
		text-align: center;
		.el-table{
			color: $color-text-primary !important;
		}
		
		.is-leaf{
			background: $color-primary;
			div{
				text-align: center;
				background: $color-primary;
				color: #fff;
				font-family: PingFangSC-Regular;
			}
		}
		.el-table__row--striped td{
			background: #DEEEFF !important;
		}
	}
	.filter-table-button{
		padding: 20px 0;
		button{
			float: right;
			border: 1px solid $color-primary;
			span{
				color: $color-primary;
			}
		}
	}
	.el-table th, .el-table td{
		height: 50px;
	}
	.el-table .info-row {
	  background: #c9e5f5;
	}
	.el-table__empty-block{
		text-align: left;
	}
	.el-table__empty-text{
		left: 0%;
		margin-left:80px;
	}
	.project-delete{
		button{
			margin-top: 3px;
			border: 1px solid $color-primary;
			color: $color-primary;
		}
	}
}
// 分页
.page{
	.el-pagination{
		float: right !important;
	}
	.btn-prev, .btn-next{
		border: 1px solid $color-primary !important;
		border-radius: 2px !important;
		margin-right: 10px !important;
		i{
			color:$color-primary !important;
		}
	}
	li{
		margin-right: 10px !important;
		border: 1px solid $color-primary !important;
		color: $color-primary;
	}
}

