$color-primary: #2186ed; // 主色-重点标题、链接文字、按钮描边等
$color-light: #deeeff; // 特殊背景
$color-dark: #1951a6; // 特殊背景
$color-white: #fff; // 白色
$color-white-light: rgba(255, 255, 255, .88); // 白色
$color-text-dark: #333; // 文章大标题、重点标题、一阶标题
$color-text-primary: #666; // 图标说明文字、正文、说明（最常用）
$color-text-light: #999; // 辅助说明、小标、注释、标注、tab未选中文字
$color-border: #bbb; // 辅助文字、边框线、分割线
$color-bg-light: #f9f9f9; // 辅助文字、边框线、分割线
$color-box-shadow: rgba(0, 0, 0, .1);

$width-navbar: 300px;
$height-toolbar: 65px;
